@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  background: linear-gradient(to bottom, #6a11cb, #9e7ec4);
  /* background: #baece7; */
  color: #f9f9f9;
  min-height: 100vh;
  display: flow;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
