/* HomePage.module.css */
.pageContainer {
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-family: "Varela Round", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* מוסיף צל לכותרת */
  direction: rtl;
}

.gameButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  gap: 20px;
  align-items: flex-start; /* שינוי מ-center ל-flex-start */
}

.gameButton {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  background-color: #d782b5; /* ירוק בהיר ומרענן */
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.gameButton:hover {
  background-color: #da57a7; /* צבע ירוק כהה יותר עם תחושת טבעיות */
  transform: translateY(-5px);
}

.gameButton::before {
  content: "";
  background-image: url("path/to/leaf-icon.png"); /* אייקון עלה קטן */
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .gameButton {
    font-size: 16px;
    padding: 10px 20px;
  }

  .gameButton::before {
    background-size: 20px 20px;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
  }
}
